<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mangues.dao.interfacce.app.AppEventVOMapper" >
  <resultMap id="BaseResultMap" type="com.mangues.model.app.AppEventVO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="imgUrl" property="imgurl" jdbcType="VARCHAR" />
    <result column="createAt" property="createat" jdbcType="DATE" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="retain" property="retain" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.mangues.model.app.AppEventVO" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, imgUrl, createAt, author, retain
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from AppEvent
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from AppEvent
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mangues.model.app.AppEventVO" >
    insert into AppEvent (id, title, imgUrl, 
      createAt, author, retain, 
      content)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{imgurl,jdbcType=VARCHAR}, 
      #{createat,jdbcType=DATE}, #{author,jdbcType=VARCHAR}, #{retain,jdbcType=VARCHAR}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mangues.model.app.AppEventVO" >
    insert into AppEvent
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="imgurl != null" >
        imgUrl,
      </if>
      <if test="createat != null" >
        createAt,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="retain != null" >
        retain,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null" >
        #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="createat != null" >
        #{createat,jdbcType=DATE},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="retain != null" >
        #{retain,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mangues.model.app.AppEventVO" >
    update AppEvent
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null" >
        imgUrl = #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="createat != null" >
        createAt = #{createat,jdbcType=DATE},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="retain != null" >
        retain = #{retain,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.mangues.model.app.AppEventVO" >
    update AppEvent
    set title = #{title,jdbcType=VARCHAR},
      imgUrl = #{imgurl,jdbcType=VARCHAR},
      createAt = #{createat,jdbcType=DATE},
      author = #{author,jdbcType=VARCHAR},
      retain = #{retain,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mangues.model.app.AppEventVO" >
    update AppEvent
    set title = #{title,jdbcType=VARCHAR},
      imgUrl = #{imgurl,jdbcType=VARCHAR},
      createAt = #{createat,jdbcType=DATE},
      author = #{author,jdbcType=VARCHAR},
      retain = #{retain,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>