<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mangues.dao.interfacce.app.CityTypeVOMapper" >
  <resultMap id="BaseResultMap" type="com.mangues.model.app.CityTypeVO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cityName" property="cityname" jdbcType="VARCHAR" />
    <result column="cityType" property="citytype" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cityName, cityType
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from CityType
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from CityType
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mangues.model.app.CityTypeVO" >
    insert into CityType (id, cityName, cityType
      )
    values (#{id,jdbcType=INTEGER}, #{cityname,jdbcType=VARCHAR}, #{citytype,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mangues.model.app.CityTypeVO" >
    insert into CityType
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cityname != null" >
        cityName,
      </if>
      <if test="citytype != null" >
        cityType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cityname != null" >
        #{cityname,jdbcType=VARCHAR},
      </if>
      <if test="citytype != null" >
        #{citytype,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mangues.model.app.CityTypeVO" >
    update CityType
    <set >
      <if test="cityname != null" >
        cityName = #{cityname,jdbcType=VARCHAR},
      </if>
      <if test="citytype != null" >
        cityType = #{citytype,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mangues.model.app.CityTypeVO" >
    update CityType
    set cityName = #{cityname,jdbcType=VARCHAR},
      cityType = #{citytype,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>